In [1]:
import pandas as pd

# read all the data by using dataframe

In [3]:
sales = pd.read_csv(r"D:\all_notes\Assignment\sales.csv")

In [54]:
sales.shape

(500, 2)

In [55]:
sales.columns

Index(['sales_id', 'customer_id'], dtype='object')

# read order table and check data size

In [5]:
orders = pd.read_csv(r"D:\all_notes\Assignment\orders.csv")

In [56]:
orders.shape

(1500, 4)

In [58]:
orders.columns

Index(['order_id', 'sales_id', 'item_id', 'quantity'], dtype='object')

# read items data

In [39]:
item = pd.read_csv(r"D:\all_notes\Assignment\items.csv")

In [59]:
items.shape

(1500, 4)

# read custmore table

In [46]:
customer = pd.read_csv(r"D:\all_notes\Assignment\customers.csv")

In [40]:
item.columns

Index(['item_id', 'item_name'], dtype='object')

In [41]:
item.shape

(3, 2)

In [24]:
orders.columns

Index(['order_id', 'sales_id', 'item_id', 'quantity'], dtype='object')

In [27]:
orders.shape

(1500, 4)

# merge sales & customer

In [47]:
sales_cust = pd.merge(sales,customers,on = "customer_id")

In [26]:
sales_cust.columns

Index(['sales_id', 'customer_id', 'age'], dtype='object')

# merge sales&customer &orders

In [29]:
sales_cust_orders = pd.merge(sales_cust,orders,on = 'sales_id')

In [30]:
sales_cust_orders.columns

Index(['sales_id', 'customer_id', 'age', 'order_id', 'item_id', 'quantity'], dtype='object')

In [31]:
sales_cust_orders.shape

(1500, 6)

In [32]:
orders_sales_cust=pd.merge(orders,sales_cust,on = 'sales_id')

In [33]:
orders_sales_cust.columns

Index(['order_id', 'sales_id', 'item_id', 'quantity', 'customer_id', 'age'], dtype='object')

In [34]:
orders_sales_cust.shape

(1500, 6)

In [35]:
orders_sales_cust.head()

   order_id  sales_id  item_id  quantity  customer_id  age
0         1         1        1       2.0           10   76
1         2         1        2       NaN           10   76
2         3         1        3       1.0           10   76
3         4         2        1       1.0           85   39
4         5         2        2       1.0           85   39

## final dataframe

In [49]:
final_df=orders_sales_cust_items = pd.merge(orders_sales_cust,item,on='item_id')

In [50]:
final_df.columns

Index(['order_id', 'sales_id', 'item_id', 'quantity', 'customer_id', 'age',
       'item_name'],
      dtype='object')

In [51]:
final_df.shape

(1500, 7)

In [52]:
final_df.to_csv("company_data.csv",sep =",")

In [53]:
pwd

'C:\\Users\\Asus'

In [60]:
final_df.head(10)

   order_id  sales_id  item_id  quantity  customer_id  age item_name
0         1         1        1       2.0           10   76         x
1         4         2        1       1.0           85   39         x
2         7         3        1       3.0           42   59         x
3        10         4        1       2.0           93   50         x
4        13         5        1       1.0           75   38         x
5        16         6        1       2.0           19   42         x
6        19         7        1       1.0           74   17         x
7        22         8        1       NaN           28   21         x
8        25         9        1       NaN           77   71         x
9        28        10        1       NaN           37   59         x

In [ ]:
# filtered_df = df[(df['age'] >= 18) & (df['age'] <= 35)]
# # filtered_df.head(5)
# grouped_df = filtered_df.groupby(['customer_id', 'item_name']).agg({'quantity': 'sum'}).reset_index()
# # grouped_df.head(5)
# final_df = grouped_df[grouped_df['quantity'] > 0]
# # final_df.head(5)
# final_df.to_csv("Final_Dataframe.csv",sep=";",index=False)

In [61]:
# filter_df age wise
filtered_df = final_df[(final_df['age'] >= 18) & (final_df['age'] <= 35)]

In [62]:
filtered_df.head(5)

    order_id  sales_id  item_id  quantity  customer_id  age item_name
7         22         8        1       NaN           28   21         x
13        40        14        1       1.0           16   19         x
16        49        17        1       NaN           34   22         x
17        52        18        1       NaN           34   22         x
27        82        28        1       1.0           22   18         x

In [68]:
# group datafrmae as per age and item_name
grouped_df = filtered_df.groupby(['customer_id','age', 'item_name']).agg({'quantity': 'sum'}).reset_index()

In [75]:
grouped_df.rename(columns = {"customer_id":"customer","item_name":"age"},inplace=True)

In [77]:
grouped_df

    customer age age  quantity
0          5  18   x       3.0
1          5  18   y       3.0
2          5  18   z       4.0
3          7  30   x      14.0
4          7  30   y      19.0
..       ...  ..  ..       ...
67        97  23   y       2.0
68        97  23   z       3.0
69       100  30   x       1.0
70       100  30   y       1.0
71       100  30   z       5.0

[72 rows x 4 columns]

In [78]:
final_df = grouped_df[grouped_df['quantity'] > 0]

In [79]:
final_df

    customer age age  quantity
0          5  18   x       3.0
1          5  18   y       3.0
2          5  18   z       4.0
3          7  30   x      14.0
4          7  30   y      19.0
..       ...  ..  ..       ...
67        97  23   y       2.0
68        97  23   z       3.0
69       100  30   x       1.0
70       100  30   y       1.0
71       100  30   z       5.0

[70 rows x 4 columns]

In [80]:
final_df.to_csv("Final_Dataframe.csv",sep=";",index=False)

In [81]:
pwd

'C:\\Users\\Asus'